<!-- HEADER -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
</style>

<header>
  <div class="logo">
    <img src="/assets/Logo_Header.png" alt="Logo Azienda">
  </div>
  <nav>
    <ul>
      <li><a href="">Templates</a></li>
      <li><a href="">Create your CV</a></li>
      <li><a href="">Contacts</a></li>
    </ul>
  </nav>
</header>

<!-- MAIN CONTENT -->
<main>
  <section class="sezione1">
    <div class="cerchio">
      <img src="/assets/Logo_Centrale.png" alt="Logo">
    </div>
    <p class="testo">Where Talents finds its Home</p>
  </section>  
  <section class="sezione2">
    <div class="container">
      <h2 class="titolo">Dive into our services</h2>
      <div class="row">
        <div class="colonna">
          <div class="icona">
            <img src="/assets/Icona_omino.png" alt="Omino">
          </div>
          <p class="descrizione">MatchUP is an innovative online platform
            utilizing AI technology to revolutionize
            recruiting. By efficiently matching job
            opportunities with candidate profiles, we
            solve the challenges of resume overload and
            finding accurate matches.</p>
        </div>
        <div class="colonna">
          <div class="pulsante">
            <div class="contenuto">
              <h3 class="titolo">Upload your resume</h3>
              <img src="/assets/icona1.png" alt="Upload">
            </div>
          </div>
          <div class="pulsante">
            <div class="contenuto">
              <h3 class="titolo">Choose the template</h3>
              <img src="/assets/icona2.png" alt="CV">
            </div>
          </div>
          <div class="pulsante">
            <div class="contenuto">
              <h3 class="titolo">Download the result</h3>
              <img src="/assets/icona3.png" alt="Download">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="sezione3">
    <h2 class="titolo">Our Templates</h2>
    <h3 class="subtitle">Select one of this</h3>

    <div class="carousel">
      <div class="carousel-images">
        <img id="carousel-img-0" src="" alt="CV">
        <img id="carousel-img-1" src="" alt="CV">
        <img class="curriculumCenter" id="carousel-img-2" src="" alt="CV">
        <img id="carousel-img-3" src="" alt="CV">
        <img id="carousel-img-4" src="" alt="CV">
      </div>
    </div>
    

    <button class="scrollCarousel" (click)="scrollLeft()">←</button>
    <button class="scrollCarousel" (click)="scrollRight()">→</button>
    
    
    
    <h3 class="titolo">Start the process</h3>
    <div class="pulsanti">
      <div class="pulsante">
        <div class="contenuto">
          <button (click)="openFileBrowser()">
            <img src="/assets/Icon_Upload.png" alt="Download">
            <h3 class="titolo">Upload</h3>
          </button>
          <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
        </div>
      </div>
      <div class="pulsante">
        <div class="contenuto">
          <button (click)="downloadFile()">
            <img src="/assets/Icon_Download.png" alt="Download">
            <h3 class="titolo">Download</h3>
          </button>
        </div>
      </div>
    </div>
    
  </section>  
</main>

<!-- FOOTER -->
<footer>
  <div class="colonna">
    <div class="persona">
      <p class="nome-cognome">Gerardo Caravelli</p>
      <p class="descrizione">Mangment Engineer</p>
    </div> 
  </div>
  <div class="colonna">
    <div class="persona">
      <p class="nome-cognome">Pietro Setaro</p>
      <p class="descrizione">Mangment Engineer</p>
    </div> 
  </div>
  <div class="colonna">
    <div class="persona">
      <p class="nome-cognome">Marta Rosa Pierri</p>
      <p class="descrizione">Architect and Building Engineer</p>
    </div> 
  </div>
  <div class="colonna">
    <div class="persona">
      <p class="nome-cognome">Anna Carmela Ansalone</p>
      <p class="descrizione">Architect and Building Engineer</p>
    </div> 
  </div>
  <div class="colonna">
    <div class="persona">
      <p class="nome-cognome">Davide Gigante</p>
      <p class="descrizione">Computer Engineer</p>
    </div> 
  </div>
  <div class="colonna">
    <div class="persona">
      <p class="nome-cognome">Gabriele Di Lorenzo</p>
      <p class="descrizione">Computer Engineer</p>
    </div> 
  </div>
  <div class="colonna">
    <div class="persona">
      <p class="nome-cognome">Salvatore Apicella</p>
      <p class="descrizione">AI e-Health Computer Engineer</p>
    </div>  
  </div>
</footer>
